
# Telegram bot token
# Can be obtained at https://t.me/BotFather
BOT_TOKEN=1111111111:aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

# MKR api url
# Read docs/mkr-api-url.md
API_URL=https://mia.mobil.knute.edu.ua


# Optional settings below


# The bot language user will have by default
# All languages are in the ./langs/ folder
# Default: uk
DEFAULT_LANG=uk

# API request timeout, in seconds
# Default: -1 (Not set)
API_REQUEST_TIMEOUT=-1

# API cache expiration time, is seconds
# Set a few days to boost the bot speed
# Default: -1
API_CACHE_EXPIRES=-1

# Select the minimum level of logs to be saved to a log file
# NOTSET, DEBUG, INFO, WARNING, ERROR, CRITICAL
# Default: INFO
LOGGING_LEVEL=INFO

# Set bot mode (in prod, errors will be ignored)
# prod, dev
# Default: prod
MODE=prod

# The ID of the chat on Telegram in which the bot will send important logs.
# It can be the ID of your account, channel, group, whatever.
# Leave it blank to disable sending logs.
# You can get the ID from the bot https://t.me/username_to_id_bot
# Default: <blank>
LOG_CHAT_ID=


# Original @dteubot settings
# BOT_TOKEN=hidden
# API_URL=https://mia.mobil.knute.edu.ua
# DEFAULT_LANG=uk
# API_REQUEST_TIMEOUT=4
# API_CACHE_EXPIRES=259200
# MODE=prod
# LOGGING_LEVEL=DEBUG
