python-telegram-bot >=20.0, <=20.4
python-dotenv >=0.16.0, <=1.0.0
babel >=2.7.0, <=2.12.1
apscheduler >=3.6.3, <=3.10.1
requests==2.31.0
progress==1.6

-r lib/api/requirements.txt
-r lib/teacher_loader/requirements.txt