# Telegram bot token
# Can be obtained at https://t.me/BotFather
BOT_TOKEN=

# Postgres database host
POSTGRES_HOST=

# Postgres database port
POSTGRES_PORT=5432

# Postgres database user
POSTGRES_USER=

# Postgres database password
POSTGRES_PASSWORD=

# Postgres database name
POSTGRES_DB=

# Use SSL to connect to the database
# Set to true if you are using a remote database
# Default: false
POSTGRES_SSL=false

# MKR api url
# Read docs/mkr-api-url.md
API_URL=https://mia.mobil.knute.edu.ua


# Below are the settings that are not required to be changed



# The bot language user will have by default
# uk, ru, en
# Default: uk
DEFAULT_LANG=uk

# API request timeout, in milliseconds (1000 = 1 second)
# If the request takes longer than this value, it will be aborted
# Default: 2000 (2 seconds)
API_REQUEST_TIMEOUT=2000

# API cache expiration time, is seconds
# -1 - Never expires, 0 - Immediately expires, >0 - Expires in N seconds
# Default: 3600 (1 hour)
API_CACHE_EXPIRES=3600

# How long after the bot is started, suggest the user to enable classes notifications
# Set to 0 or less to disable
# Default: 60 (1 minute)
NOTIFICATIONS_SUGGESTION_DELAY=60

# Select the minimum level of logs to be saved to a log file
# DISABLED, DEBUG, INFO, WARNING, ERROR, CRITICAL
# Default: INFO
LOG_LEVEL=INFO

# The ID of the chat on Telegram in which the bot will send important logs.
# It can be the ID of your account, channel, group, whatever.
# Leave it blank to disable sending logs.
# You can get the ID from the bot https://t.me/username_to_id_bot
# Default: Not set
LOG_CHAT_ID=


# Original @dteubot settings
# BOT_TOKEN=<hidden>
# API_URL=https://mia.mobil.knute.edu.ua
# DEFAULT_LANG=uk
# API_REQUEST_TIMEOUT=2
# API_CACHE_EXPIRES=3600
# NOTIFICATIONS_SUGGESTION_DELAY=60
# LOGGING_LEVEL=INFO
# LOG_CHAT_ID=-1001945632565